  /* Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sniglet:wght@400;800&display=swap');
        *{
            box-sizing:border-box;
               scroll-behavior:smooth;
        }
        header,
        section{
            overflow-x: hidden;
        }

        :root{
            --Snigle-font:"Sniglet",cursive;
            --Rubik:"Rubik",cursive;
            --Patua:"Patua One", cursive;
            --Lobster:"Lobster",cursive;
            --light-black:#2e2e2e;
            --bggradient:linear-gradient(to bottom, #dd2476, #ff512f);
            --light-gray:rgba(255,255,255,0.87)
        }

        header a{
            font-family:var(--Snigle-font);
            font-size:0.9em;
            color:white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
        }
        header{
            background:url(../img/lap_bola.jpg);
            background-size:cover;
            background-position: center;
            min-height:100vh;

            /*background:#dd2476;*/
            /*background:var(--bggradient);*/
        }
       /* header::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 50%;
            background-image: linear-gradient(to top,  rgba(0,0,0,0.5), rgba(0,0,0,0));
            bottom: 0;
        }*/
       
        header .nav-item:last-child{
            padding-right:5.5em;
        }
        header .nav-item{
            padding:0.9em;
        }
        header .navbar-brand{
            padding-left:8rem;
        }
        header .nav-link:hover{
            color:whitesmoke;

        }
        header .nav-link:hover::after,
        header .nav-link.active::after {
            content: '';
            display: block;
            border-bottom: 3px solid #0B63DC;
            margin: auto;
            margin-bottom: -8px;
            width: 50%;
            padding-top: 5px;
        }
        header .row .col-md-5{
            padding:4.2vmin 1vmin;  
        }
        header .row .col-md-12{
            padding:22vmin 1vmin;
            padding-bottom:35vmin;
            font-family:var(--Rubik);
            color:white;
        }
        header .container .col-md-12 h6{
            padding:1vmin;
            letter-spacing:4px;
        }
        header .container .col-md-7 h1{
            font-size:8vmin;
            font-weight:bold;
            padding:0.1em 0em;
        }
        header .container .col-md-12 p{
            padding:1vmin 5vmin;
        }
        header .container .col-md-12 h1{
            text-shadow: 2px 2px 2px rgba(1, 3, 4,0.5)

        }
        header .container .col-md-12 button{
            /*border-radius:30px;*/
            font-weight:bold;
        }
        /* section 1 */
        .section-1{
            height: 140vh;
            padding:20vmin 0;
        }
        .section-1 .row .col-md-6 .pray img{
            opacity:0.8;
            width:80%;
            border-radius:0.2em;
        }
        .section-1 .row .col-md-6:last-child{
            position: relative;
        }
        .section-1 .row .col-md-6 .panel{
            position:absolute;
            top:7vmin;
            left:-18vmin;
            background:white;
            border-radius:3px;
            text-align:left;
            padding:13vmin 5vmin 20vmin 10vmin;
            box-shadow:0px 25px 42px rgba(0,0,0,0.2);
            font-family:var(--Rubik);
            z-index:1;
        }
        .section-1 .row .col-md-6 .panel h1{
            font-weight:bold;
            padding:0.4em 0;
            font-size:2em;
        }
        .section-1 .row .col-md-6  .panel p{
            font-size: 0.9em;
            color:rgba(0,0,0,0.5)
        }
        /*section 1*/

        /*section 2*/
        .purchase > h1{
            padding-bottom:0.1em;
            font-family:var(--Lobster);
        }
        .purchase > p{
            color:var(--light-black);
            font-size:3vmin;
            padding-bottom:10vmin;
        }
        .purchase .cards .card{
            width:22rem;
            margin:3vmin;
        }
        .cards div{
            padding:0;
            margin:0;
        }
        .cards .title{
            background:rgba(208,241,241,0.199);
            padding:1.4rem 2.5rem;
            font-size:2vmin;
        }
        .card .card-text{
            padding:2rem 3rem;
            color:var(--light-black);

        }
        .card-body .pricing{
            background:rgba(208,241,241,0.199);
            border-top-right-radius: 170px;
            border-top-left-radius:170px;
        }
        .card-body .pricing > h1{
            font-size: 4vmin;
/*            padding:1em 0.5em;*/
        }
        /*section 2*/

        /* section 3*/
        .cover{
            width:100%;
            height:55vmin;
            background:url("../img/club_football.jpg");
            background-position:-24rem -19rem;
            background-size:150%;
            position: relative;            
        }
        .cover .content{
            background:rgba(0,0,0,0.7);
            height:100%;
            width:100%;
            padding-top:19vmin;
        }
        .cover .content > h1{
            font-family:var(--Patua);
            font-size:6vmin;
            color:whitesmoke;
        }
        .cover .content > p{
            font-family: var(--Rubik);  
            font-size:4vmin;
            color:#e5e5e5;
        }
        .numbers .rect{
            position:relative;
            z-index:1;
            background:white;
            width:17rem;
            height:12rem;
            padding-top:3.5vmin;
            margin:1rem;
            border-radius:.5em;
            box-shadow:1px 2px 50px 0px rgba(255,0,0,0.349);
        }
        .numbers{
            margin-top:-15vmin;
        }
        .numbers .rect h1{
            font-size:5rem;
            color:tomato
        }
        .numbers .rect p{
            font-family:var(--Patua);
        }
        /* section 3 */

        /*section 4*/
        .img_bola .btn-img .btn-bola {
          border: none;
          outline: none;
          padding: 10px 16px;
          background-color: #f1f1f1;
          cursor: pointer;
        }

        /* Style the active class (and buttons on mouse-over) */
        .img_bola .btn-img .btn-bola.active, 
        .img_bola .btn-img .btn-bola:hover
        {
          background-color:#666;
          color: white;
        }

        .img_bultang .btn-img .btn-bultang {
          border: none;
          outline: none;
          padding: 10px 16px;
          background-color: #f1f1f1;
          cursor: pointer;
        }

        /* Style the active class (and buttons on mouse-over) */
        .img_bultang .btn-img .btn-bultang.active, 
        .img_bultang .btn-img .btn-bultang:hover
        {
          background-color:#666;
          color: white;
        }
        /*section 4*/

        /*section 5*/
        .section-5{
            height:150vh;
            margin-top:15vmin;
            background: #111;
            color: var(--light-gray);
        }
        .section-5 .col-md-12  h1{
            padding: 1em 0 0.5em 0;
            color:white;
            font-size:6vmin;
            font-family:var(--Lobster);

        }
        .section-5 .col-md-12  p{
            font-size:3vmin;
        }
        .section-5 .col-sm-8{
            background: #222222;
            padding:2vw;
            position: relative;
            height:80%;
        }
        .section-5 .col-sm-8 .form-1{
            display:block;
        }
        .section-5 .col-sm-8 .form-2{
            display: none;
        }
        .section-5 .jen_register .button{
            text-decoration: none;
            cursor: pointer;
            border-radius:4px 4px 0 0;
            background:transparent;
            color: white;
            padding:7px;
            border: none;
            font-size:15px;
            /*background:#222222;*/

        }
        .section-5 .jen_register .button.active, .section-5 .jen_register .button:hover{
            background:#222222;
        }
        /*section 5*/

        /* section 6 */
        .section-6 h1{
            font-family:var(--Lobster);
            
        }
         .testimonial{
            background:#f7f7f7;
            box-sizing: border-box;
        }
        .testimonial .content{
            display: flex;
            justify-content:flex-start;
            flex-direction:row;
            /*flex-wrap:wrap;*/
        }
        .testimonial .content .testimonialBx{
            /*max-width:calc(50% - 40px);*/
            width:30%;
            padding:60px 40px;
            margin:20px;
            background:#2196f3;
        }
        .testimonial .content .testimonialBx p{
            color:#fff;
            font-style:italic;
            font-size:16px;
            font-weight:300;
        }
        .testimonial .content .testimonialBx h3{
            margin-top:40px;
            text-align:end;
            color:#fff;
            font-weight:600;
            font-size:20px;
            line-height:1em;
        }
        .testimonial .content .testimonialBx h3 span{
            font-size:14px;
            font-weight:400;
        }

        /*section 6*/

        /* footer */
        footer{
            background:#111;
            overflow-x:hidden;
            padding:14vmin 18vmin;
        }
        footer p >span{
            color:#ff512f;
        }
        footer input{
            border:none !important;
        }
        footer input::placeholder{
            color:white !important;
        }
        footer .input-group .input-group-text{
            background:var(--bggradient);
            border:none;
        }
        footer .column i{
            color:#dd2476;
        }
        footer .column i+i{
            padding:0 0.5em;
        }
        /* sticky class */
        .sticky{
            position:fixed;
            top:0;
            width:100%;
            background:rgba(0,0,0,0.815);
            z-index:9999;
            transition:all 1.5s ease;
        }
        /* responsive */

        @media only screen and (max-width: 992px){
             header .nav-link:hover::after,
             header .nav-link.active::after {
                content: '';
                display: block;
                margin: 0;
                border-bottom: 3px solid #0B63DC;
                margin-bottom: -8px;
                width: 7%;
                padding-top: 5px;
            }
           .cover .content > p{
            font-size:3vmin;
           }
            .cover{
            /*background-position:-10rem -10rem;*/
                background-position:center;
                background-size:cover;
            }
             .numbers .rect p{
                font-size:1rem;
            }
        
             .testimonial .content{
                align-items:center;
            flex-direction:column;
            /*flex-wrap:wrap;*/
        }
        .testimonial .content .testimonialBx{
            /*max-width:calc(50% - 40px);*/
            width:60%;
            padding:60px 40px;
            margin:20px;
            background:#2196f3;
        }
             .section-6 .carousel-item{
                padding-left:0;
            }
        }
        /* mobile */
        @media only screen and (max-width:768px){
              .numbers .rect p{
                font-size:12px;
            }
            header .navbar-brand{
                padding-left:1rem;
            }
            .section-1 .row .col-md-6 .panel{
                position:initial;
                width:initial;
                height:initial;
            }
            .section-2 .cover{
                background-position:-25vmin -10vmin;
            }
            .numbers .rect{
                width:10rem;
                height:8rem;
            }
            .numbers .rect h1{
                font-size:2rem;
            }
            .section-4{
                height:inherit;
                padding:10vmin !important;
            }
            .section-4 .row h1{
                padding:6vmin 4vmin;
            }
            .section-4 .row .col-md-6{
                text-align:center !important;
            }
            .section-6 .carousel-item{
                padding-left:0;
            }
            .section-6 .team{
                display: flex;
                flex-direction:column;
                align-content:center;
            }
        /*    .section-6 .carousel-inner{
                width:24rem;
            }*/
            @media only screen and(max-width:425px){
                footer .row .col-md-2{
                    margin-top:10px;
                }
            }
        }